torch==1.12.1
torchvision==0.0.13.1
scikit-image
boltons
ftfy
regex
tqdm
h5py
numpy
pandas
scikit_learn
certifi==2023.5.7
cffi
charset-normalizer
ftfy==6.1.1
git-lfs==1.6
idna
jsonpatch
jsonpointer==2.1
packaging 
pluggy 
pycosat
pycparser 
pyOpenSSL 
PySocks 
requests 
ruamel.yaml
ruamel.yaml.clib 
six 
toolz
urllib3
wcwidth==0.2.6
zstandard
beautifulsoup4
selenium
datasets